# Mac OS
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
*.lock

# Android
*.apk
*.aab
android/.gradle/

# iOS
ios/Flutter/Generated*.xcconfig
ios/Flutter/flutter_export_environment*.sh

# Duplicate files
* 2*
* 3*
* 4*
* 5*
* 6*
* 7*
* 8*

# IDE
*.iml
.idea/
.vscode/

# Misc
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins*
frontend/android/.gradle/
